include setup.cfg
include setup.py
include *requirements.txt
include tox.ini
include LICENSE
include *.rst
include *.md
include Makefile
include Dockerfile
include environment.yml
recursive-include meta *.py
recursive-include doc *.py *.rst Makefile
recursive-include scripts *.sh *.py
recursive-include config *.cfg *.yaml *.json
recursive-include examples *.py
recursive-include tests *.py
graft data
